
@{
    ViewBag.Title = "联系我们";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>联系方式</h3>
    </header>
    <p>
        <span class="label">公司座机：   </span>
        <span>（0532）8888866    </span>
    </p>
    <p>
        <span class="label">私人微信:</span>
        <span>13061419987</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>邮箱</h3>
    </header>
    <p>
        <span class="label">技术部:</span>
        <span><a href="mailto:524825729@qq.com">524825729@qq.com</a></span>
    </p>
    <p>
        <span class="label">市场部:</span>
        <span><a href="mailto:962286605@qq.com">962286605@qq.com</a></span>
    </p>
    <p>
        <span class="label">运维部:</span>
        <span><a href="mailto:2283454239@qq.com">2283454239@qq.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>公司地址</h3>
    </header>
    <p>
        青岛大学<br />
        浮山校区<br />
        博知楼407
    </p>
</section>