<p>
    “洪都先锋”公号发布的消息提及，12月21日，天朗气清、阳光明媚，咱洪都家里迎来了好多喜事！除了初教6交付迈出了坚实的一步，还提到“我们的L-15某型飞机也在中午首飞成功啦！”高兴之情溢于文字！这次首飞应该是一个重大节点！

    一开始，猎鹰的动力配备是乌克马达西奇制造的AI-222-25涡扇发动机以及AI-222-25F加力涡扇发动机，而国产发动机一直在努力。这次首飞的L-15照片可见我们的军徽以及垂尾顶端的荚仓，21日首飞的这款“L-15某型飞机”应属重大进展！

    L-15猎鹰高级教练机是航空工业洪都公司的产品，分为AJT高级教练型和LIFT战斗入门型，空军装备的叫做教练-10，在今年的航空飞镖国际竞赛中现身。L-15还出口交付到了非洲国家赞比亚。
</p>