<p>
    对手机业来说，2017年的冬天，来得特别早。
    11月14日，欧菲科技（SZ:002456）大涨6.10%，以26.12元的价格，标记了自己的历史新高。
    从今年1月16日开始，这家以精密光电薄膜器件为主业的上市公司，在短短10个月内，股价的上涨幅度超过了113%。
    资本对它的看好，源于中国手机市场的欣欣向荣。
    在2017年，双摄像头成为智能手机的"标配"，对上游元器件的需求持续放大，拉动了欧菲科技的业绩向好。在今年10月，欧菲科技还预计，公司全年净利润将同比增长80%至120%。
    然而，一夜之间，风云突变。
    11月15日，欧菲科技股价便开始掉头向下，连续阴跌，在短短1个月时间里，股价下跌了22.8%，到12月14日，它的收盘价已经只有22.17元。
    欧菲科技并非特例。
    蓝思科技、瑞尔科技、三环集团、立讯精密、比亚迪、舜宇光学、丘钛科技、高伟电子、科森科技、德赛电池……过去1个半月，内地和港台几乎所有手机产业链的上市公司，股价都出现了不同幅度的暴跌。
    其中，丘钛科技、高伟电子等公司的股价，本轮跌幅甚至超过了50%。
    股价集体暴跌的导火索，是中国手机市场的出货量，今年11月同比下降了20.7%。
    这是趋势周期的逆转拐点。
    根据工信部数据，2017年除了2月以外，其他月份的手机出量，都是同比下滑。而11月份的加速下滑，终于从量变到质变，将整个行业的悲观情绪彻底引爆。
    那么，到底是哪些原因，导致了手机行业的由盛转衰？
    这一轮周期会持续多久，再会迎来新逆转？
    这一场寒冬里，哪些公司将获得利好，哪些公司有可能滑入深渊？
    在未来两年，手机行业还将发生哪些大概率的趋势与事件？
    我们来简单梳理一下。
    一、关于周期
    业界普遍判断，手机市场的下降周期，至少会维持到2018年末。接下来这一年，从手机厂商到上游产业链，日子都不会好过。
    准确来说，这个周期其实从2017年上半年就已经开始，而它的形成，是多重因素的叠加导致。
    从增量来看，经过10多年高速发展，中国市场的手机渗透已经接近饱和，到2016年，中国的手机普及率已经超过96部/百人。
    这意味着，中国已经是一个手机的存量市场。
    存量市场的规模，主要取决于迭代周期。根据Counterpoint的数据， 中国手机用户的换机周期平均为22个月，也就是说，每年的手机出货量，是用户手机保有量的差不多一半。
    但也要考虑其他的因素，比如技术更新的节奏、运营商的补贴政策，供应链与渠道的变化，都会影响这个周期的缩短或拉长。
    从2015年中，到2017年中，是中国手机市场的上一轮景气周期。它的主要驱动因素主要包括：
    1、用户从3G向4G的迁徒。在2015年6月，中国4G用户只有2.25亿，而到2017年6月，中国4G用户已达到8.88亿。在这两年内，超过6亿用户从3G手机升级为了4G手机。
    2、三线以下城市用户的消费升级红利。下面这张GFK的图，清楚告诉我们，T3到T6的市场增长，是拉动上一个周期的主力。这也是手机线下渠道在2015和2016年爆发增长的原因所在。
</p>