@{
    ViewBag.Title = "财经新闻板块";
}

<h2>财经新闻板块</h2>
<div>
    <ul>
        <li><a href="#">中国手机市场已进入新的下降周期</a></li>
        <li><a href="#">中华V5对中华V6</a></li>
        <li><a href="#">国内液化天然气价格暴涨</a></li>
    </ul>
</div>
