@{
    ViewBag.Title = "国际新闻版块";
}

<h2>国际新闻版块</h2>

<div>
    <ul>
        <li><a href="#">美科罗拉多州枪击案造成1死6伤 枪手被击毙</a></li>
        <li><a href="#">各国迎新年方式大不同：享美食算运势扔旧物</a></li>
        <li><a href="#">日媒：安倍发表新年感言未提修宪 或力争三连任</a></li>
    </ul>
</div>