@{
    ViewBag.Title = "娱乐新闻板块";
}

<h2>娱乐新闻版块</h2>
<div>
    <ul>
        <li><a href="#">范冰冰王子文这件西装大衣气场排第二，没人排第一</a></li>
        <li><a href="#">央视主持张蕾发起”暖邻行动“ 用爱在冬日连接你我</a></li>
        <li><a href="#">李易峰跨年演唱会首唱《角色》 展说唱实力</a></li>
    </ul>
</div>