<p>
    《绝地求生》正式版沙漠地图惊现金刚狼坟墓场景
    近日，《绝地求生》PC1.0版本上线后，受到了玩家们的一致追捧。新沙漠地图不仅场景更加多元化，而且资源和物资也更加丰富。除此之外，还有玩家发现了场景设计中有疑似电影《金刚狼》的主角金刚狼的坟墓。

    众所周知，看过《金刚狼3》电影的人应该都还记得，在电影中，最终狼叔因为太过苍老，导致自身的恢复能力下降，最终被劳拉埋葬在一堆碎石之中。

    这一幕让许多观众记忆深刻，长腿妹当时也是看到泪奔。也希望狼叔能像之前的剧情一样会恢复甚至重生，能在这些碎石堆中伸出一只金刚爪……可惜到电影结束还是没有出现观众期待的这一幕。
    此时，玩家们在《绝地求生》的新地图中看到这个疑似狼叔坟墓的场景，和电影情节对比起来，还真有几分相似!不禁回忆翻滚……
    这是游戏在向电影《金刚狼》致敬吗?还是说靠近碎石堆能发现隐藏的彩蛋?
    网友们纷纷开始猜测：

    你在《绝地求生》的游戏中找到这个场景了吗?你觉得会是什么意思呢?
</p>