@{
    ViewBag.Title = "国内新闻版块";
}

<h2>国内新闻版块</h2>

<div>
    <ul>
     <li><a href="#">九景衢铁路开通在即</a></li>  
        <li><a href="#">L-15某型飞机首飞成功</a></li>
        <li><a href="#">国内液化天然气价格暴涨</a></li>
    </ul>
</div>
