@{
    ViewBag.Title = "体育新闻版块";
}

<h2>体育新闻版块</h2>

<div>
    <ul>
        <li><a href="#">NBA-火箭双加时险胜湖人 保罗不提前续约</a></li>
        <li><a href="#">中超本土教练行情看涨? 李霄鹏压力大但前景不差</a></li>
        <li><a href="#">弗格森祝贺温格：恭喜破掉我的纪录 温格了不起</a></li>
    </ul>
</div>
